USE [master]
GO
/****** Object:  Database [SMS]    Script Date: 3/5/2018 10:49:00 PM ******/
CREATE DATABASE [SMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\SMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\SMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMS]
GO
/****** Object:  UserDefinedTableType [dbo].[utblPurchaseDetail1]    Script Date: 3/5/2018 10:49:02 PM ******/
CREATE TYPE [dbo].[utblPurchaseDetail1] AS TABLE(
	[ProductID] [bigint] NULL,
	[TotalPairs] [int] NULL,
	[WSalePairPrice] [decimal](18, 2) NULL,
	[TotalPurchasePrice] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[utblShoppingDetail]    Script Date: 3/5/2018 10:49:02 PM ******/
CREATE TYPE [dbo].[utblShoppingDetail] AS TABLE(
	[ProductID] [bigint] NULL,
	[TotalPairs] [int] NULL,
	[TotalDiscountPrice] [decimal](18, 2) NULL,
	[TotalSalePrice] [decimal](18, 2) NULL
)
GO
/****** Object:  StoredProcedure [dbo].[SelectedTableData_Insert]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelectedTableData_Insert]

	@ID bigint output,	
	@Name nvarchar(50),
	@Description nvarchar(100),
	@TableNo int
	

AS
	begin try
	begin transaction
	
	set @ID   = -1
	if(@TableNo=0)
	begin
		IF @Name IS NOT NULL AND EXISTS(SELECT * FROM [Sizes] WHERE [Name]  = @Name)
		BEGIN
			raiserror('The specified Data already exist', 16, 1)
		END

		INSERT INTO [dbo].[Sizes] ( Name,Description,IsDeleted ) VALUES( @Name,@Description,0)
		SET @ID  = SCOPE_IDENTITY()
	end

	else if(@TableNo=1)
	begin
		IF @Name IS NOT NULL AND EXISTS(SELECT * FROM [Colors] WHERE [Name]   = @Name)
		BEGIN
			raiserror('The specified Data already exist', 16, 1)
		END

		INSERT INTO [dbo].[Colors]( Name,Description,IsDeleted ) VALUES( @Name,@Description,0)
		SET @ID  = SCOPE_IDENTITY()
	end

	else if(@TableNo=2)
	begin
		IF @Name IS NOT NULL AND EXISTS(SELECT * FROM [ProductCategories] WHERE [Name]  = @Name)
		BEGIN
			raiserror('The specified Data already exist', 16, 1)
		END

		INSERT INTO [dbo].[ProductCategories] ( Name,Description,IsDeleted ) VALUES( @Name,@Description,0)
		SET @ID  = SCOPE_IDENTITY()
	end

	else if(@TableNo=3)
	begin
		IF @Name IS NOT NULL AND EXISTS(SELECT * FROM [CategoriesFor] WHERE [Name]  = @Name)
		BEGIN
			raiserror('The specified Data already exist', 16, 1)
		END

		INSERT INTO [dbo].[CategoriesFor] ( Name,Description,IsDeleted ) VALUES( @Name,@Description,0)
		SET @ID  = SCOPE_IDENTITY()
	end

	else if(@TableNo=4)
	begin
		IF @Name IS NOT NULL AND EXISTS(SELECT * FROM [Companies] WHERE [Name]  = @Name)
		BEGIN
			raiserror('The specified Data already exist', 16, 1)
		END

		INSERT INTO [dbo].[Companies] ( Name,Description,IsDeleted ) VALUES( @Name,@Description,0)
		SET @ID  = SCOPE_IDENTITY()
	end

	else if(@TableNo=5)
	begin
		IF @Name IS NOT NULL AND EXISTS(SELECT * FROM [ExpenseType] WHERE [Name]  = @Name)
		BEGIN
			raiserror('The specified Data already exist', 16, 1)
		END

		INSERT INTO [dbo].[ExpenseType] ( Name,Description,IsDeleted ) VALUES( @Name,@Description,0)
		SET @ID  = SCOPE_IDENTITY()
	end
	
	

	commit transaction
	end try
	
	begin catch
	rollback transaction

	declare @ErrorMessage nvarchar(4000);
	declare @ErrorSeverity INT;
	declare @ErrorState INT;

	set @ErrorMessage = 'Unable to save data, please try again!';
	set @ErrorSeverity = 16;
	set @ErrorState = 1;

	select  @ErrorMessage = error_message(),
			@ErrorSeverity = error_severity(),
			@ErrorState = error_state();

	raiserror(@ErrorMessage, @ErrorSeverity, @ErrorState);
	
	end catch

GO
/****** Object:  StoredProcedure [dbo].[SelectedTableData_Update]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelectedTableData_Update]

	@ID bigint ,	
	@Name nvarchar(50),
	@Description nvarchar(100),
	@TableNo int
	

AS
	begin try
	begin transaction
	
	if(@TableNo=0)
	begin
		IF @ID IS NULL AND NOT EXISTS(SELECT * FROM [Sizes] WHERE [ID]  = @ID)
		BEGIN
			raiserror('The specified Record not Found', 16, 1)
		END

		Update [dbo].[Sizes] set Name=@Name,Description=@Description
		where ID  = @ID

	end

	else if(@TableNo=1)
	begin
		IF @ID IS NULL AND NOT EXISTS(SELECT * FROM [Colors] WHERE [ID]  = @ID)
		BEGIN
			raiserror('The specified Record not Found', 16, 1)
		END

		Update [dbo].[Colors] set Name=@Name,Description=@Description
		where ID  = @ID
	end

	else if(@TableNo=2)
	begin
		IF @ID IS NULL AND NOT EXISTS(SELECT * FROM [ProductCategories] WHERE [ID]  = @ID)
		BEGIN
			raiserror('The specified Record not Found', 16, 1)
		END

        Update [dbo].[ProductCategories] set Name=@Name,Description=@Description
		where ID  = @ID
	end

	else if(@TableNo=3)
	begin
		IF @ID IS NULL AND NOT EXISTS(SELECT * FROM [CategoriesFor] WHERE [ID]  = @ID)
		BEGIN
			raiserror('The specified Record not Found', 16, 1)
		END
		Update [dbo].[CategoriesFor] set Name=@Name,Description=@Description
		where ID  = @ID
	end

	else if(@TableNo=4)
	begin
		IF @ID IS NULL AND NOT EXISTS(SELECT * FROM [Companies] WHERE [ID]  = @ID)
		BEGIN
			raiserror('The specified Record not Found', 16, 1)
		END
		Update [dbo].[Companies] set Name=@Name,Description=@Description
		where ID  = @ID
	end

	else if(@TableNo=5)
	begin
		IF @ID IS NULL AND NOT EXISTS(SELECT * FROM [ExpenseType] WHERE [ID]  = @ID)
		BEGIN
			raiserror('The specified Record not Found', 16, 1)
		END

		Update [dbo].[ExpenseType] set Name=@Name,Description=@Description
		where ID  = @ID
	end
	
	

	commit transaction
	end try
	
	begin catch
	rollback transaction

	declare @ErrorMessage nvarchar(4000);
	declare @ErrorSeverity INT;
	declare @ErrorState INT;

	set @ErrorMessage = 'Unable to Update data, please try again!';
	set @ErrorSeverity = 16;
	set @ErrorState = 1;

	select  @ErrorMessage = error_message(),
			@ErrorSeverity = error_severity(),
			@ErrorState = error_state();

	raiserror(@ErrorMessage, @ErrorSeverity, @ErrorState);
	
	end catch

GO
/****** Object:  StoredProcedure [dbo].[tblPurchase_Insert]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[tblPurchase_Insert]
		@PurchaseID	bigint output,
		@SupplierID	bigint=null,
		@PurchaseDate   datetime=null,
		@TotalPairsQuantity	int,
		@TotalPurchaseValue	decimal(18, 2),
		@TotalDiscountValue	decimal(18, 2),
		@TotalPaidValue	decimal(18, 2),
		@PurchaseInvoiceNo	nvarchar(50),
		@utblPurchaseDetail dbo.utblPurchaseDetail1 readonly,
		@UserID bigint=null		
		


AS
	begin try
	begin transaction

		---- Get total pairs Quantity 
		--------------------------------------------------------------------------------
		if @TotalPairsQuantity = 0
		begin	
			raiserror('Please select Product with Quantity before saving purchase!', 16, 1)
		end



		-- Calculate NetTotal value for all Pairs
		----------------------------------------------
		Declare @NetTotalValue as decimal(18,2)
		set @NetTotalValue = 0
		set @NetTotalValue = @TotalPurchaseValue - @TotalDiscountValue


		-- Insert purchase master data
		------------------------------

		set @PurchaseID   = -1
	
		insert into [dbo].[Purchase]
			   ([SupplierID]
			   ,[dtDate]
			   ,[PurchaseInvoiceNo]
			   ,[TotalPairsQuantity]
			   ,[TotalPurchaseValue]
			   ,[TotalDiscountValue]
			   ,[NetTotalValue]
			   ,[UserID]
			   ,[StatusID]
			   ,[PurchaseDate])
		 values
			   (@SupplierID,
			   getdate(),
			   @PurchaseInvoiceNo,
			   @TotalPairsQuantity,
			   @TotalPurchaseValue,
			   @TotalDiscountValue,
			   @NetTotalValue,			   
			   @UserID,
			   1,
			   @PurchaseDate
			   )
		   			
		set @PurchaseID  = SCOPE_IDENTITY()

		--Insert all selected pins
		--------------------------
		insert into dbo.PurchaseDetail(
			PurchaseID, ProductID,TotalPurchasePrice,TotalPairs,WSalePairPrice,UserID,StatusID, dtDate)
		select 
			@PurchaseID,t.ProductID,t.TotalPurchasePrice,t.TotalPairs,t.WSalePairPrice,@UserID,1, getdate()
		from @utblPurchaseDetail t

		--Update stock for the product if exists else enter new stock entry
		-------------------------------------------------------------------	
			MERGE [dbo].[ProductStock] AS trg
			USING @utblPurchaseDetail AS src
			  ON src.ProductID = trg.ProductID
			 WHEN MATCHED THEN
			   UPDATE SET [Quantity] = [Quantity]+src.TotalPairs,
					[dtDate]=getDate()
			 WHEN NOT MATCHED BY TARGET THEN
			   INSERT ([ProductID], [Quantity],[dtDate])
			   VALUES (src.ProductID,src.TotalPairs,getdate());

			--select 
			--      dbo.StockEntry(tbl.ProductID,tbl.TotalPairs)
			--	  from @utblPurchaseDetail tbl

		
		--Insert/update  Supplier Details
		---------------------------------
		if exists( select 'x' from [dbo].[SupplierDetails] where SupplierID = @SupplierID )
		begin
			update [dbo].[SupplierDetails]
			set [TotalPaid] = [TotalPaid] + @TotalPaidValue,
				[TotalPurchase] = [TotalPurchase] +@NetTotalValue,
				[TotalRemaining] = [TotalRemaining] +(@NetTotalValue-@TotalPaidValue),
				[dtDate] = getDate()
			where [SupplierID] = @SupplierID
		end
		else
		begin
			insert into [dbo].[SupplierDetails]
			([SupplierID], [TotalPaid],[TotalPurchase],[TotalRemaining],[dtDate])
			values
			(@SupplierID, @TotalPaidValue,@NetTotalValue,(@NetTotalValue-@TotalPaidValue),getDate())		
		end
		--if exists( select 'x' from [dbo].[Suppliers] where ID = @SupplierID and IsActive=1 )
		--begin
		--insert into [dbo].[SupplierDetails]
			--([SupplierID], [TotalPaid],[TotalPurchase],[TotalRemaining],[dtDate])
			--values
			--(@SupplierID, @TotalPaidValue,@NetTotalValue,(@NetTotalValue-@TotalPaidValue),getDate())
		--end

		-- Insert Purchase Payment entry
		--------------------------------
		Declare @PurchasePaymentID as bigint
        set @PurchasePaymentID   = -1

		insert into dbo.PurchasePayment
		(dtDate,PurchaseID,PaidAmount,RemainingAmount,TotalPurchaseAmount,SupplierID,UserID)
		values
		(getdate(), @PurchaseID,@TotalPaidValue,(@NetTotalValue-@TotalPaidValue),@NetTotalValue,@SupplierID,@UserID)
		
		set @PurchasePaymentID  = SCOPE_IDENTITY()


		-- Insert transactions for CREDIT
		---------------------------------
		insert into dbo.Transactions
		(dDebit,dCredit, dtDate, UserID, PurchasePaymentID,PurchaseID,StatusID)
		values
		(0,@TotalPaidValue, getdate(), @UserID, @PurchasePaymentID,@PurchaseID,1)


	commit transaction

	end try
	begin catch

	rollback transaction

	declare @ErrorMessage nvarchar(4000);
	declare @ErrorSeverity INT;
	declare @ErrorState INT;

	set @ErrorMessage = 'Unable to save data, please try again!';
	set @ErrorSeverity = 16;
	set @ErrorState = 1;

	select  @ErrorMessage = error_message(),
			@ErrorSeverity = error_severity(),
			@ErrorState = error_state();

	raiserror(@ErrorMessage, @ErrorSeverity, @ErrorState);
	
	end catch


GO
/****** Object:  StoredProcedure [dbo].[tblPurchase_Insert12]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[tblPurchase_Insert12]
		@PurchaseID	bigint output,
		@SupplierID	bigint=null,
		@PurchaseDate   datetime=null,
		@TotalPairsQuantity	int,
		@TotalPurchaseValue	decimal(18, 2),
		@TotalDiscountValue	decimal(18, 2),
		@TotalPaidValue	decimal(18, 2),
		@PurchaseInvoiceNo	nvarchar(50),
		@utblPurchaseDetail dbo.utblPurchaseDetail1 readonly,
		@UserID bigint=null		
		


AS
	begin try
	begin transaction

		---- Get total pairs Quantity 
		--------------------------------------------------------------------------------
		if @TotalPairsQuantity = 0
		begin	
			raiserror('Please select Product with Quantity before saving purchase!', 16, 1)
		end



		-- Calculate NetTotal value for all Pairs
		----------------------------------------------
		Declare @NetTotalValue as decimal(18,2)
		set @NetTotalValue = 0
		set @NetTotalValue = @TotalPurchaseValue - @TotalDiscountValue


		-- Insert purchase master data
		------------------------------

		set @PurchaseID   = -1
	
		insert into [dbo].[Purchase]
			   ([SupplierID]
			   ,[dtDate]
			   ,[PurchaseInvoiceNo]
			   ,[TotalPairsQuantity]
			   ,[TotalPurchaseValue]
			   ,[TotalDiscountValue]
			   ,[NetTotalValue]
			   ,[UserID]
			   ,[StatusID]
			   ,[PurchaseDate])
		 values
			   (@SupplierID,
			   getdate(),
			   @PurchaseInvoiceNo,
			   @TotalPairsQuantity,
			   @TotalPurchaseValue,
			   @TotalDiscountValue,
			   @NetTotalValue,			   
			   @UserID,
			   1,
			   @PurchaseDate
			   )
		   			
		set @PurchaseID  = SCOPE_IDENTITY()

		--Insert all selected pins
		--------------------------
		insert into dbo.PurchaseDetail(
			PurchaseID, ProductID,TotalPurchasePrice,TotalPairs,WSalePairPrice,UserID,StatusID, dtDate)
		select 
			@PurchaseID,t.ProductID,t.TotalPurchasePrice,t.TotalPairs,t.WSalePairPrice,@UserID,1, getdate()
		from @utblPurchaseDetail t

		--Update stock for the product if exists else enter new stock entry
		-------------------------------------------------------------------	
			--MERGE [dbo].[ProductStock] AS trg
			--USING @utblPurchaseDetail AS src
			--  ON src.ProductID = trg.ProductID
			-- WHEN MATCHED THEN
			--   UPDATE SET [Quantity] = src.TotalPairs,
			--		[dtDate]=getDate()
			-- WHEN NOT MATCHED BY TARGET THEN
			--   INSERT ([ProductID], [Quantity],[dtDate])
			--   VALUES (src.ProductID,src.TotalPairs,getdate());

			select 
			      dbo.StockEntry(tb.ProductID,tb.TotalPairs)
				  from @utblPurchaseDetail tb

		
		--Insert/update  Supplier Details
		---------------------------------
		if exists( select 'x' from [dbo].[SupplierDetails] where SupplierID = @SupplierID )
		begin
			update [dbo].[SupplierDetails]
			set [TotalPaid] = [TotalPaid] + @TotalPaidValue,
				[TotalPurchase] = [TotalPurchase] +@NetTotalValue,
				[TotalRemaining] = [TotalRemaining] +(@NetTotalValue-@TotalPaidValue),
				[dtDate] = getDate()
			where [SupplierID] = @SupplierID
		end
		else
		begin
			insert into [dbo].[SupplierDetails]
			([SupplierID], [TotalPaid],[TotalPurchase],[TotalRemaining],[dtDate])
			values
			(@SupplierID, @TotalPaidValue,@NetTotalValue,(@NetTotalValue-@TotalPaidValue),getDate())		
		end
		--if exists( select 'x' from [dbo].[Suppliers] where ID = @SupplierID and IsActive=1 )
		--begin
		--insert into [dbo].[SupplierDetails]
			--([SupplierID], [TotalPaid],[TotalPurchase],[TotalRemaining],[dtDate])
			--values
			--(@SupplierID, @TotalPaidValue,@NetTotalValue,(@NetTotalValue-@TotalPaidValue),getDate())
		--end

		-- Insert Purchase Payment entry
		--------------------------------
		Declare @PurchasePaymentID as bigint
        set @PurchasePaymentID   = -1

		insert into dbo.PurchasePayment
		(dtDate,PurchaseID,PaidAmount,RemainingAmount,TotalPurchaseAmount,SupplierID,UserID)
		values
		(getdate(), @PurchaseID,@TotalPaidValue,(@NetTotalValue-@TotalPaidValue),@NetTotalValue,@SupplierID,@UserID)
		
		set @PurchasePaymentID  = SCOPE_IDENTITY()


		-- Insert transactions for CREDIT
		---------------------------------
		insert into dbo.Transactions
		(dDebit,dCredit, dtDate, UserID, PurchasePaymentID,StatusID)
		values
		(0,@TotalPaidValue, getdate(), @UserID, @PurchasePaymentID,1)


	commit transaction

	end try
	begin catch

	rollback transaction

	declare @ErrorMessage nvarchar(4000);
	declare @ErrorSeverity INT;
	declare @ErrorState INT;

	set @ErrorMessage = 'Unable to save data, please try again!';
	set @ErrorSeverity = 16;
	set @ErrorState = 1;

	select  @ErrorMessage = error_message(),
			@ErrorSeverity = error_severity(),
			@ErrorState = error_state();

	raiserror(@ErrorMessage, @ErrorSeverity, @ErrorState);
	
	end catch


GO
/****** Object:  StoredProcedure [dbo].[tblShopping_Insert]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[tblShopping_Insert]
		@ShoppingID	bigint output,
		@ShoppingDate   datetime=null,
		@TotalPairsQuantity	int,
		@TotalSalePrice	decimal(18, 2),
		@TotalDiscountPrice	decimal(18, 2),
		@ReturnedShoppingID	bigint=null,
		@CustomerName nvarchar(50),
		@CustomerNumber nvarchar(50),
		@utblShoppingDetail dbo.utblShoppingDetail readonly,
		@UserID bigint=null		
		


AS
	begin try
	begin transaction

		---- Get total pairs Quantity 
		--------------------------------------------------------------------------------
		if @TotalPairsQuantity = 0
		begin	
			raiserror('Please select Product with Quantity before saving Shopping!', 16, 1)
		end

		-- Calculate TotalSaleDiscount value 
		----------------------------------------------
		Declare @TotalSaleDiscount as decimal(18,2)
		set @TotalSaleDiscount = 0
		select  @TotalSaleDiscount = sum(isnull(t.TotalDiscountPrice,0))
		from @utblShoppingDetail t

		-- Calculate TotalSalePrice value 
		----------------------------------------------
		Declare @TotalSalePrice1 as decimal(18,2)
		set @TotalSalePrice1 = 0
		select  @TotalSalePrice1 = sum(isnull(t.TotalSalePrice,0))
		from @utblShoppingDetail t

		-- Calculate NetTotal value for all Pairs
		----------------------------------------------
		if @TotalSalePrice1 != @TotalSalePrice
		begin	
			raiserror('There is Some Calculation issue before saving Shopping!', 16, 1)
		end

		Declare @NetSalePrice as decimal(18,2)
		set @NetSalePrice = 0
		set @NetSalePrice = @TotalSalePrice - @TotalDiscountPrice


		-- Insert Shopping master data
		------------------------------

		set @ShoppingID   = -1
	
		insert into [dbo].[Shopping]
			   ([ShoppingDate]
			   ,[TotalPairs]
			   ,[DiscountPrice]
			   ,[TotalSalePrice]
			   ,[NetSalePrice]
			   ,[dtDate]
			   ,[UserID]
			   ,[StatusID]
			   ,[ReturnedShoppingID])
		 values
			   (@ShoppingDate,
			   @TotalPairsQuantity,
			   @TotalDiscountPrice,
			   @TotalSalePrice,		   
			   @NetSalePrice,
			   getDate(),			   
			   @UserID,
			   1,
			   @ReturnedShoppingID
			   )
		   			
		set @ShoppingID  = SCOPE_IDENTITY()

		--Insert all Products Details
		--------------------------
		insert into dbo.ShoppingDetail(
			ShoppingID, ProductID,TotalPairs,DiscountPrice,TotalSalePrice,NetSalePrice,UserID,StatusID, dtDate)
		select 
			@ShoppingID,t.ProductID,t.TotalPairs,t.TotalDiscountPrice,t.TotalSalePrice,(t.TotalSalePrice-t.TotalDiscountPrice), @UserID,1, getdate()
		from @utblShoppingDetail t

		--Update stock for the product if exists else enter new stock entry
		-------------------------------------------------------------------	
			--MERGE [dbo].[ProductStock] AS trg
			--USING @utblShoppingDetail AS src
			--  ON src.ProductID = trg.ProductID and src.TotalPairs<=trg.Quantity
			-- WHEN MATCHED THEN 
			--   
		--if ((select [dbo].[ProductStock_Update_ForShopping](ProductID,TotalPairs) from  @utblShoppingDetail)=0)
		--begin			
		--	raiserror('No Stock Found!', 16, 1)			
		--end
		if Not Exists (select (select 'x' from dbo.ProductStock s where s.ProductID=l.ProductID and s.Quantity>=l.TotalPairs) from  @utblShoppingDetail l )
		begin			
			raiserror('No Stock Found!', 16, 1)			
		end

			UPDATE [dbo].[ProductStock] 
			SET [Quantity] = [Quantity]-src.TotalPairs,
			[dtDate]=getDate()
			from @utblShoppingDetail src
			where [dbo].[ProductStock].ProductID=src.ProductID   

		-- Insert Shopping Payment entry
		--------------------------------
		Declare @ShoppingPaymentID as bigint
        set @ShoppingPaymentID   = -1

		insert into dbo.ShoppingPayment
		(dtDate,ShoppingID,PaidAmount,StatusID,UserID)
		values
		(getdate(), @ShoppingID,@NetSalePrice,1,@UserID)
		
		set @ShoppingPaymentID  = SCOPE_IDENTITY()


		-- Insert transactions for DEBIT
		---------------------------------
		insert into dbo.Transactions
		(dDebit,dCredit, dtDate, UserID, ShoppingPaymentID,ShoppingID,StatusID)
		values
		(@NetSalePrice,0, getdate(), @UserID, @ShoppingPaymentID,@ShoppingID,1)

		-- Insert Invoice for this Shopping
		-----------------------------------
		insert into dbo.ShoppingInvoice
		(ShoppingID,CustomerName,CustomerNumber,TotalShoppingAmount,TotalDiscountedPrice, dtDate, UserID,StatusID)
		values
		(@ShoppingID,@CustomerName,@CustomerNumber,@NetSalePrice,@TotalSaleDiscount, getdate(), @UserID,1)

	commit transaction

	end try
	begin catch

	rollback transaction

	declare @ErrorMessage nvarchar(4000);
	declare @ErrorSeverity INT;
	declare @ErrorState INT;

	set @ErrorMessage = 'Unable to save data, please try again!';
	set @ErrorSeverity = 16;
	set @ErrorState = 1;

	select  @ErrorMessage = error_message(),
			@ErrorSeverity = error_severity(),
			@ErrorState = error_state();

	raiserror(@ErrorMessage, @ErrorSeverity, @ErrorState);
	
	end catch


GO
/****** Object:  UserDefinedFunction [dbo].[ProductStock_Update_ForShopping]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create function [dbo].[ProductStock_Update_ForShopping](@ProductID bigint,@Quantity int)
returns bit

AS
begin

	Declare @Updated as bit
	set @Updated=0

	if exists( select 'x' from [dbo].[ProductStock] where ProductID = @ProductID and Quantity>=@Quantity)
		begin			
			set @Updated=1
		end
   
   return @Updated
end
 
GO
/****** Object:  Table [dbo].[CategoriesFor]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesFor](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_CategoriesFor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[StateID] [bigint] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Colors]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companies]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExpenseTypeID] [bigint] NULL,
	[Amount] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[Description] [nvarchar](50) NULL,
	[UserID] [bigint] NULL,
	[StatusID] [bigint] NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenseType]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseType](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ExpenseType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ArticalNo] [nvarchar](50) NULL,
	[SizeID] [bigint] NULL,
	[CompanyID] [bigint] NULL,
	[ColorID] [bigint] NULL,
	[CategoryForID] [bigint] NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[MinDiscount] [decimal](18, 2) NULL,
	[MaxDiscount] [decimal](18, 2) NULL,
	[ShowForShop] [bit] NULL,
	[CategoryID] [bigint] NULL,
	[StatusID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[ProductImage] [nvarchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductStock]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStock](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[Quantity] [int] NULL,
	[dtDate] [datetime] NULL,
 CONSTRAINT [PK_ProductStock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplierID] [bigint] NULL,
	[dtDate] [datetime] NULL,
	[PurchaseInvoiceNo] [nvarchar](50) NULL,
	[TotalPairsQuantity] [int] NULL,
	[TotalPurchaseValue] [decimal](18, 2) NULL,
	[TotalDiscountValue] [decimal](18, 2) NULL,
	[NetTotalValue] [decimal](18, 2) NULL,
	[UserID] [bigint] NULL,
	[StatusID] [bigint] NULL,
	[PurchaseDate] [datetime] NULL,
 CONSTRAINT [PK_Purchase_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseDetail]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[TotalPairs] [int] NULL,
	[WSalePairPrice] [decimal](18, 2) NULL,
	[TotalPurchasePrice] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[UserID] [bigint] NULL,
	[StatusID] [bigint] NULL,
	[PurchaseID] [bigint] NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchasePayment]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasePayment](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PurchaseID] [bigint] NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[RemainingAmount] [decimal](18, 2) NULL,
	[TotalPurchaseAmount] [decimal](18, 2) NULL,
	[SupplierID] [bigint] NULL,
	[dtDate] [datetime] NULL,
	[UserID] [bigint] NULL,
	[StatusID] [bigint] NULL,
 CONSTRAINT [PK_PurchasePayment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Description] [nvarchar](30) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shopping]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shopping](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TotalPairs] [bigint] NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[TotalSalePrice] [decimal](18, 2) NULL,
	[NetSalePrice] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[StatusID] [bigint] NULL,
	[ReturnedShoppingID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[ShoppingDate] [datetime] NULL,
 CONSTRAINT [PK_Shopping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingDetail]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ShoppingID] [bigint] NULL,
	[ProductID] [bigint] NULL,
	[TotalPairs] [int] NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[TotalSalePrice] [decimal](18, 2) NULL,
	[NetSalePrice] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[StatusID] [bigint] NULL,
	[UserID] [bigint] NULL,
 CONSTRAINT [PK_ShoppingDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingInvoice]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingInvoice](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ShoppingID] [bigint] NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerNumber] [nvarchar](50) NULL,
	[TotalShoppingAmount] [decimal](18, 2) NULL,
	[TotalDiscountedPrice] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[StatusID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[ReturnedInvoiceID] [bigint] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingPayment]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingPayment](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ShoppingID] [bigint] NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[UserID] [bigint] NULL,
	[StatusID] [bigint] NULL,
 CONSTRAINT [PK_ShoppingPayment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[CountryID] [bigint] NULL,
	[Description] [nvarchar](30) NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NULL,
	[Description] [nvarchar](30) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupplierDetails]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplierID] [bigint] NULL,
	[TotalPaid] [decimal](18, 2) NULL,
	[TotalPurchase] [decimal](18, 2) NULL,
	[TotalRemaining] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
 CONSTRAINT [PK_SupplierDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NULL,
	[CompanyName] [nvarchar](30) NULL,
	[ContactNo] [nvarchar](15) NULL,
	[CityID] [bigint] NULL,
	[dtDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[StatusID] [bigint] NULL,
	[UserID] [bigint] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[dDebit] [decimal](18, 2) NULL,
	[dCredit] [decimal](18, 2) NULL,
	[dtDate] [datetime] NULL,
	[PurchaseID] [bigint] NULL,
	[ExpenseID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[ShoppingID] [bigint] NULL,
	[ShoppingPaymentID] [bigint] NULL,
	[PurchasePaymentID] [bigint] NULL,
	[SupplierID] [bigint] NULL,
	[StatusID] [bigint] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 3/5/2018 10:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](15) NULL,
	[LastName] [nvarchar](15) NULL,
	[UserName] [nvarchar](15) NULL,
	[Password] [nvarchar](15) NULL,
	[RoleID] [bigint] NULL,
	[UserImage] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_States] FOREIGN KEY([StateID])
REFERENCES [dbo].[States] ([ID])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_States]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_ExpenseType] FOREIGN KEY([ExpenseTypeID])
REFERENCES [dbo].[ExpenseType] ([ID])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_ExpenseType]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Status]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_User]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CategoriesFor] FOREIGN KEY([CategoryForID])
REFERENCES [dbo].[CategoriesFor] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CategoriesFor]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Colors] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Colors] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Colors]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Companies]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sizes] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Sizes] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sizes]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_User]
GO
ALTER TABLE [dbo].[ProductStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductStock_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductStock] CHECK CONSTRAINT [FK_ProductStock_Products]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Status]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Suppliers]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_User]
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[PurchaseDetail] CHECK CONSTRAINT [FK_PurchaseDetail_Products]
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Purchase] FOREIGN KEY([PurchaseID])
REFERENCES [dbo].[Purchase] ([ID])
GO
ALTER TABLE [dbo].[PurchaseDetail] CHECK CONSTRAINT [FK_PurchaseDetail_Purchase]
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[PurchaseDetail] CHECK CONSTRAINT [FK_PurchaseDetail_Status]
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[PurchaseDetail] CHECK CONSTRAINT [FK_PurchaseDetail_User]
GO
ALTER TABLE [dbo].[PurchasePayment]  WITH CHECK ADD  CONSTRAINT [FK_PurchasePayment_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[PurchasePayment] CHECK CONSTRAINT [FK_PurchasePayment_Status]
GO
ALTER TABLE [dbo].[Shopping]  WITH CHECK ADD  CONSTRAINT [FK_Shopping_Shopping] FOREIGN KEY([ID])
REFERENCES [dbo].[Shopping] ([ID])
GO
ALTER TABLE [dbo].[Shopping] CHECK CONSTRAINT [FK_Shopping_Shopping]
GO
ALTER TABLE [dbo].[Shopping]  WITH CHECK ADD  CONSTRAINT [FK_Shopping_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Shopping] CHECK CONSTRAINT [FK_Shopping_Status]
GO
ALTER TABLE [dbo].[Shopping]  WITH CHECK ADD  CONSTRAINT [FK_Shopping_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Shopping] CHECK CONSTRAINT [FK_Shopping_User]
GO
ALTER TABLE [dbo].[ShoppingDetail]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingDetail_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ShoppingDetail] CHECK CONSTRAINT [FK_ShoppingDetail_Products]
GO
ALTER TABLE [dbo].[ShoppingDetail]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingDetail_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[ShoppingDetail] CHECK CONSTRAINT [FK_ShoppingDetail_Status]
GO
ALTER TABLE [dbo].[ShoppingDetail]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingDetail_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ShoppingDetail] CHECK CONSTRAINT [FK_ShoppingDetail_User]
GO
ALTER TABLE [dbo].[ShoppingInvoice]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingInvoice_Shopping] FOREIGN KEY([ShoppingID])
REFERENCES [dbo].[Shopping] ([ID])
GO
ALTER TABLE [dbo].[ShoppingInvoice] CHECK CONSTRAINT [FK_ShoppingInvoice_Shopping]
GO
ALTER TABLE [dbo].[ShoppingInvoice]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingInvoice_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[ShoppingInvoice] CHECK CONSTRAINT [FK_ShoppingInvoice_Status]
GO
ALTER TABLE [dbo].[ShoppingInvoice]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingInvoice_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ShoppingInvoice] CHECK CONSTRAINT [FK_ShoppingInvoice_User]
GO
ALTER TABLE [dbo].[ShoppingPayment]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingPayment_Shopping] FOREIGN KEY([ShoppingID])
REFERENCES [dbo].[Shopping] ([ID])
GO
ALTER TABLE [dbo].[ShoppingPayment] CHECK CONSTRAINT [FK_ShoppingPayment_Shopping]
GO
ALTER TABLE [dbo].[ShoppingPayment]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingPayment_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[ShoppingPayment] CHECK CONSTRAINT [FK_ShoppingPayment_Status]
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_States_Countries]
GO
ALTER TABLE [dbo].[SupplierDetails]  WITH CHECK ADD  CONSTRAINT [FK_SupplierDetails_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[SupplierDetails] CHECK CONSTRAINT [FK_SupplierDetails_Suppliers]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Cities] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Cities]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Status]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_User]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Expenses] FOREIGN KEY([ExpenseID])
REFERENCES [dbo].[Expenses] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Expenses]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_PurchasePayment] FOREIGN KEY([PurchasePaymentID])
REFERENCES [dbo].[PurchasePayment] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_PurchasePayment]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Shopping] FOREIGN KEY([ShoppingID])
REFERENCES [dbo].[Shopping] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Shopping]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_ShoppingPayment] FOREIGN KEY([ShoppingPaymentID])
REFERENCES [dbo].[ShoppingPayment] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_ShoppingPayment]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Status]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Suppliers]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
